<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" align="center">
        <h1><font color="#F75000" size="10">删除数据</font></h1>
        <hr size="5" color="blue"><br>
        <form name="form" action="" method="post">
            <font color="#2828FF" size="3">编号</font>
            <input type="text" name="userid" value="请输入编号"><br><br>
            <script type="text/javascript">
                function Delete(){
                    document.form.action="/delete_submit";
                    document.form.submit();
                }
            </script>
            <button type="submit" onclick="Delete()">确认删除</button>
        </form>
    </div>
</body>
</html>
